@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  color: rgba(5, 5, 5, 1);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}
